<h5>Select An Event</h5>
<div class="row">
  <!-- Sidebar Nav -->
  <div class="col-md-2">
    <div class="btn-group btn-group-vertical">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Red Alarms
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>

      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Yellow Warnings
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>

      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Blue Notices
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>

      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Observed Actions
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

  </div>

  <!-- Content Area -->
  <div class="col-md-8">
    <!-- <p>Overview Hidden</p> -->
    <app-overview></app-overview>
    <hr>
    <!-- <p>Steps Hidden</p> -->
    <app-steps></app-steps>
    <hr>
    <!-- <p>Tracker Hidden</p> -->
    <app-tracker></app-tracker>
  </div>

  <!-- Help Area -->
  <div class="col-md-2">
    <div class="card">
      <div class="card-body">
        <h6>Need Help?</h6>
        <p>Call 1-800-999-9661</p>
        or <button type="button" class="btn btn-success">Submit Case</button>
      </div>
    </div>
  </div>
</div>