<div class="card">
  <div class="card-header">
    Incident Tracking <button type="button" class="btn btn-outline-primary">#205</button><span style="float:right;"></span>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-hover" style="width:100%">
      <caption>Last row is the current question.</caption>
      <thead>
        <tr>
          <th>Step#</th>
          <th>Question</th>
          <th>Answer</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>18</td>
          <td>Fix the other alarms first and recheck if necessary. Other alarms can indicate more serious problems.</td>
          <td>Yes</td>
          <td><a class="btn btn-success btn-sm" href="#" role="button">
              <fa name="share-alt"></fa>
            </a></td>
        </tr>
        <tr>
          <td>12</td>
          <td>Remove and replace the Flux Cap</td>
          <td>Yes</td>
          <td>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm active">
                <input type="checkbox" checked autocomplete="off">
                <fa name="thumbs-up"></fa>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>