<header id="site-header">
  <!-- Image and text -->
  <nav class="navbar navbar-expand-md navbar-secondary bg-secondary">
    <a class="navbar-brand text-white" href="#" (click)="onSelect('public')">
      <img src="assets/img/Komatsu_RGB_30x100.jpg" width="100" height="30" class="d-inline-block align-top" alt="">&nbsp;KiTS
    </a>

    <button class="navbar-toggler btn btn-outline-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <fa name="bars"></fa>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link text-white">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white">Resources</a>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white btn btn-success btn-sm" (click)="onSelect('admin')">
            <fa name="cog" animation="spin"></fa>&nbsp;Admin
          </a>
        </li>
        &nbsp;
        <li class="nav-item">
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>zpeters</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">My Settings</button>
                  <button class="dropdown-item">My Password</button>
                  <hr>
                  <button class="dropdown-item">Logout</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>