<div class="card">
  <div class="card-header">
    Manage Users<span style="float:right"><button type="button" class="btn btn-primary btn-sm" [disabled]="!allowNewUser" (click)="onCreateUser()">
        <fa name="plus"></fa>
      </button></span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <app-user-list (userWasSelected)="selectedUser = $event"></app-user-list>
      </div>
      <div class="col-md-6">
        <app-user-detail *ngIf="selectedUser; else infoText" [user]="selectedUser"></app-user-detail>
        <ng-template #infoText>
          <p>Please select a user or create a new one!</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>