<div class="container-fluid">
  <!-- Header -->
  <app-header (sectionSelected)="onNavigate($event)"></app-header>
  <div class="container-fluid">
    <!-- Admin Section -->
    <!-- <p *ngIf="loadedSection !== 'admin'">Admin Hidden</p> -->
    <app-admin *ngIf="loadedSection === 'admin'"></app-admin>
    <hr>

    <!-- Title and Active Machine -->
    <!-- <p *ngIf="loadedSection === 'admin'">Public Hidden</p> -->
    <app-public *ngIf="loadedSection !== 'admin'"></app-public>
    <hr>

  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>