<div class="card">
  <div class="card-header">
    Manage Equipment<span style="float:right"><button type="button" class="btn btn-primary btn-sm">
        <fa name="plus"></fa>
      </button></span>
  </div>
  <div class="card-body">
    <app-equip-edit></app-equip-edit>
    <hr>
    Sort & Filter Options
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>ID#</th>
          <th>Class</th>
          <th>Model</th>
          <th>Serial</th>
          <th>Active</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mining Loader</td>
          <td>L-2350</td>
          <td>2204</td>
          <td>Yes</td>
          <td>
            <button type="button" class="btn btn-success btn-sm">
              <fa name="eye"></fa>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-warning btn-sm">
              <fa name="edit"></fa>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm">
              <fa name="trash"></fa>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>