<div class="page-header">
  <!-- Put Alerts Here -->
  <h2>Komatsu interactive Troubleshooting System
    <small>v5</small>
    <span style="float: right">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Active Machine</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
      </div>
    </span>
  </h2>
  <hr>

  <!-- Machine or Incident Selector -->
  <p>Dashboard Hidden</p>
  <!-- <app-dashboard></app-dashboard> -->
  <hr>

  <!-- Event and Step Viewer -->
  <!-- <p>Event Hidden</p> -->
  <app-event></app-event>
  <hr>

  <!-- User Settings and Password Reset -->
  <!-- <p>Settings Hidden</p> -->
  <app-settings></app-settings>
  <hr>
</div>